
:root{
    --main-bg:#d7d8c9;
    --light-yellow: yellow;
    --dark-yr: #d7ba00a6;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-bg);
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    width:130px;
    top: 15px;
    left: 20px;
    background-color: yellow;
    box-shadow: 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow,
    0 0 40px yellow;
}
section.download {
    background: #fff;
    width: 430px;
    max-width: 90%;
    border-radius: 25px;
    box-shadow: 0px 20px 20px 0px #00000017;
    padding: 2rem;
    text-align: center;
}

.send-btn-container a {
    display: inline-block;
    font-size: 18px;
    padding: 13px 40px;
    margin-top: 15px;
    background: var(--light-yellow);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .send-btn-container a:hover {
    border: none;
    transition: all 0.32s ease;
  }
  .send-btn-container a:active {
      background: var(--dark-yr);
    transition: all 0.32s ease;
  }